<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Les Portes Sombres </title>
</head>
<body>
    <form action="{% url 'aventure:selection' %}" method="POST">
        <!-- Ajout d'un CSRF Token -->
        {% csrf_token %}
        <div>Êtes-vous prêt à affronter les portes sombres?</div>
        <table>
            <th>Classe</th>
            <th>Description</th>
            <!-- La liste heros est passé dans la réponse, voir views.py -->
            <th>Sélection</th>
            {% for classe in classes %}
                <tr>
                    <td>{{ classe.nom }}</td>
                    <td>{{ classe.description }}</td>
                    <td><label for="classe">
                        <input type="radio" id="{{ classe.id }}" name="classe_id" value="{{ classe.id }}">
                    </label></td>
                </tr>

            {% endfor %}
        </table>

        <label for="nom_hero">
            Nom du héro:
            <input type="text" name="nom_hero">
        </label>
        <input type="submit" value="Commencer l'aventure!">
    </form>
    <p>

    </p>
</body>
</html>