<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>La croisée des chemins</title>
</head>
<body>
    <p>
       <div id="hero-nom">{{ nom_hero }}</div>, vous arrivez près d'une intersection où trois chemins s'offrent à vous.
    </p>
    <p>
        <li>Celui de gauche mène vers un petit village</li>
        <li>À droite se trouve une caverne dont l'entrée est bloquée</li>
        <li>Devant, il y a un écriteau au bord du chemin: "Portes Sombres devant. À vos risques et périls!"</li>
    </p>
    <p>
        Que faites-vous?
    </p>
</body>
</html>